[includes "bash"]
	url = https://raw.githubusercontent.com/git/git/v${git_version}/contrib/completion/git-completion.bash
	url = https://raw.githubusercontent.com/git/git/v${git_version}/contrib/completion/git-prompt.sh
	file = aliases.bash
	file = formatting.bash
	file = prompt.bash
	file = exports.bash
