[includes]
	script = install-vim
[includes "~"]
	# As this installer is intended to manage your .bashrc and uses it for
	# sourcing include files, not including a .bashrc or .bash_profile may have
	# unintended consequences.
	file = .bashrc
	file = .bash_logout
	file = .bash_profile
	link = .tmux.conf
[includes "etc"]
	file = gitignore
	file = inputrc
[includes "bash"]
	source = aliases.bash
	source = prompt.bash
	source = variables.bash
	url = https://raw.githubusercontent.com/git/git/v$(git --version | cut -d' ' -f3)/contrib/completion/git-completion.bash
	url = https://raw.githubusercontent.com/git/git/v$(git --version | cut -d' ' -f3)/contrib/completion/git-prompt.sh
[includes "vim"]
	source = vimrc
