[includes "~"]
	file = .bashrc
	file = .bash_profile
	file = .bash_logout
	file = .tmux.conf
	file = .vimrc
[includes "etc"]
	file = inputrc
	file = gitignore
[includes "bash"]
	# config.bash is first in the list, to let other scripts query
	# configuration.
	file = config.bash
	file = aliases.bash
	file = variables.bash
	file = formatting.bash
	file = prompt.bash
	url = https://raw.githubusercontent.com/git/git/v$(git --version | cut -d' ' -f3)/contrib/completion/git-completion.bash
	url = https://raw.githubusercontent.com/git/git/v$(git --version | cut -d' ' -f3)/contrib/completion/git-prompt.sh
